header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 4%;
}

nav {
    display: grid;
    justify-content: right;
    text-align: right;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4%;
    /* background-color: purple; */
}

#image_header {
    padding: 3%;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, auto));
    justify-items: center;
}

article {
    /* background-color: aquamarine;*/ 
    min-width: 300px;
    display: grid;
    justify-items: center;
    margin: 4%;
}

.article_title {
    text-align: center;
    /* background-color: yellow; */
}

.article_content{
    text-align: justify;
    /* background-color: green; */
}

footer {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: azure;
}

footer>a {
    padding: 4%;
}

